<h2>Images</h2>
<div class="left-label-container">
    <div class="left-label-description">
        Filter:
    </div>
    <div class="left-label-component">
        <app-generic-list-filter [scheme]="filterScheme"></app-generic-list-filter>
    </div>
</div>
<div class="left-label-container">
    <div class="left-label-description">
        Scaling:
    </div>
    <div class="left-label-component">
        <app-generic-list-scaling [bootstrapScale]="bootstrapScale" (rescaled)="bootstrapScale = $event"></app-generic-list-scaling>
    </div>
</div>
<app-generic-list [itemType]="'image'" [bootstrapScale]="bootstrapScale" [apiArrayKey]="'images'" [apiID]="collectionID" [itemClass]="'col-md-6 col-lg-4'" (newData)="paginationSettings = $event"></app-generic-list>
<app-generic-list-pagination [total]="paginationSettings[0]" [perPage]="paginationSettings[1]"></app-generic-list-pagination>