.card {
    margin-top: 10px;
    margin-bottom: 10px;

    img {
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: auto;
    }
}